@import '~antd/dist/antd.css';

main {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  height: 765px;
  /* background-color: #503890; */
}

.container-send-form {
  border: 1px solid #C4C5CB;
  border-radius: 8px;
  padding: 16px;
  width: 700px;
  box-shadow: 0 0 1em #989aa5;
  background-color: #FFFF;
}

.form-inline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  width: 100px;
}

#select-protocol {
  width: 250px;
}

/* Packages container */

.packages-container {
  /* width: 100%; */
  padding: 14px;
  border-bottom: 1px solid #C4C5CB;
}

.packages-input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.package-item {
  width: 250px;
}

.package-item label {
  margin-right: 10px;
}


/* Códigos de verificação container */
.extra-code-container {
  /* width: 750px; */
  height: 150px;
  padding: 14px;
  border-bottom: 1px solid #C4C5CB;
}

.extra-inst-item input {
  width: 150px;
  padding: 6px;
  margin-left: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* IP da aplicação container */
.address-container {
  padding: 14px;
  margin-bottom: 14px;
}

.address-item input {
  width: 150px;
  padding: 6px;
  font-size: 16px;
}


/* Tooltip */
.extra-tooltip {
  display: none;
}

.pac-icon:hover + .extra-tooltip {
  display: block;
}

/* Submit button */
.submit-content {
  display: flex;
  justify-content: center;
}

.submit-button {
  width: 250px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #6649b8;
  color: #FFFF;
  font-weight: bold;
  transition: .3s;
}

.submit-button:hover {
  background-color: #503890;
}


/* CONTAINER DE RECEPÇÃO DE DADOS */
.recieved-data-container {
  height: 100%;
  width: 500px;
  background-color: #FFFF;
  border-radius: 8px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.data-list {
  width: 80%;
  box-shadow: 0 0 1em #C4C5CB;
}

.list-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}